/* General */

html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

*:not(ul):not(ol) {
    padding: 0;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

header {
    background-color: #0084FD;
}

.container-icon {
    color: white;
    font-size: 20px;
}

#container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}   

#container-nav nav {
    display: none;
}

#container-nav nav ul li {
    display: inline-block;
}

#container-nav nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

nav ul li a button {
    display: inline-block;
}

/* Main-general */

main > section {
    padding: 40px 0;
}

footer > section {
    padding: 40px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    width: calc(100% - 20px);
    background-color: #B5DDFF;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#botton-section-1 { 
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    padding: 5px ;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 20px;
    background-color: #0084FD;
    color: white; 
}

/* Section 1  */
img {
   
    width: 100%;
    margin-top: 20px;
}

.text-section-1 {
    padding: 0 20px;
}

.text-section1_2 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.text-section-1 h2 {
    margin: 20px 0;
    color: #0084FD;
}

.text-section-1 p {
    margin: 20px 0;
}

.text-section1_2 {
    text-align: center;
}

.text-section1_2 i {
    font-size: 100px;
    color: #0084FD;
}

.text-section1_2 h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-section1_2 :last-child {
    margin-bottom: 20px;
}

.blu {
    font-size: 30px;
    color: #0084FD;
}

/* Section 2  */

.col-up {
    padding: 20px;
}

.col-down {
    padding: 20px;
}

.col-up h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-down h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-down p {
    margin-bottom: 20px;
}

.arrow-section-2 {
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    padding-top: 4px;
    margin: 0 auto;
    background-color: violet;
}

/* Section 3  */

.text-section-3 {
    text-align: center;
}


.text-section-3  h3 {
    padding-bottom: 20px;
}

.text-section-3  h4 {
    padding-bottom: 20px;
}

.text-section-3  p {
    padding-bottom: 20px;
}

/* Section 4 */

.text-section-4 {
    text-align: center;
}

.text-section-4 h3{
    padding-bottom: 20px;
}

/* Section 5 */

.col-left h2 {
    padding-bottom: 20px;
}

/* Section 6 */

.col-text-last {
    text-align: center;
}

.col-text-last h4 {
    margin-bottom: 10px;
}

.col-text-last h3 {
    margin-bottom: 20px;
}

.col-text-last p {
    margin-bottom: 20px;
}

.col-text-last button {
    margin-bottom: 20px;
}

/* Footer */

.col-footer {
    text-align: center;
    margin-bottom: 0;
    padding-top: 20px;
}

.col-footer p {
    padding-top: 20px;
    margin-bottom: 20px;
}

/* Media querry */

/* Tablet */

@media screen and (min-width: 769px) {
    
    /* Section 1 */

    .col-small {
        width: calc((100% / 3) - 20px);
    }

    .col-big {
        width: calc(((100% / 3) * 2) - 20px)
    }

    .container-tablet-section-1 {
        width: 100%;
    }

    .img-section-1 {
        width: 50%;
    }

    /* Section 4 */

    .col-square-1 {
        width: calc((100% / 2) - 20px);
    }

    .col-square-2 {
        width: calc((100% / 2) - 20px);
    }

    /* Section 5 */

    .col-left {
        width: calc((100% / 2) - 20px);
    }

    .col-right {
        width: calc((100% / 2) - 20px);
    }

}


/* Desktop */

@media screen and (min-width: 992px) {

    /* Section 1 */

    #container-nav nav {
        display: block;
    }

    #container-nav .container-icon {
        display: none;
    }

    .container-desktop-section-1 {
        display: flex;
    }

    .text-section-1 {
        width: 50%;
    }

    /* Section 2 */

    .row-unwrap {
        flex-wrap: nowrap;
    }

    .col-up {
        width: calc(100% / 2 - 20px);
    }

    .col-down {
        width: calc(100% / 2 - 20px);
    }

    .col-down h2 {
        text-align: center;
    }
    
    .col-down p {
        text-align: center;
    }


    /* Section 4 */

    .col-square-1 {
        width: calc((100% / 3) - 20px);
    }

    .col-square-2 {
        width: calc((100% / 3) - 20px);
    }
}

