/* General */

html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

*:not(ul):not(ol) {
    padding: 0;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

header {
    background-color: #0084FD;
}

.container-icon {
    color: white;
    font-size: 20px;
}

#container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}   

#container-nav nav {
    display: none;
}

#container-nav nav ul li {
    display: inline-block;
}

#container-nav nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

nav ul li a button {
    display: inline-block;
}

/* Main-general */

main > section {
    padding: 40px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    width: calc(100% - 20px);
    background-color: #0084FD;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

/* Section 3  */

.text-section-3 {
    text-align: center;
}


.text-section-3  h4 {
    padding-bottom: 20px;
}

.text-section-3  h5 {
    padding-bottom: 20px;
}

.text-section-3  p {
    padding-bottom: 20px;
}



/* Media querry */

/* Tablet */

@media screen and (min-width: 769px) {
    
    /* Section 1 */

    .col-small {
        width: calc((100% / 3) - 20px);
    }

    .col-big {
        width: calc(((100% / 3) * 2) - 20px)
    }
}

/* Desktop */

@media screen and (min-width: 992px) {

    /* Section 1 */

    #container-nav nav {
        display: block;
    }

    #container-nav .container-icon {
        display: none;
    }

    /* Section 2 */

    .row-unwrap {
        flex-wrap: nowrap;
    }

    .col-up {
        width: calc(100% / 2);
    }

    .col-down {
        width: calc(100% / 2);
    }

}

